.intro {
  max-width: 690px;
  padding: 0 294px 92px 0;
}


@media screen and (max-width : 1200px) {
  .intro {
    padding: 0 238px 92px 0;
  }
}

@media screen and (max-width : 940px) {
  .intro {
    max-width: 720px;
    padding: 0 0 88px 0;
  }
}

@media screen and (max-width : 720px) {
  .intro {
    max-width: 288px;
    padding: 0 0 64px 0;  
  }
}