.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
    "title website"
    "image paragraph";
  gap: 48px 40px;
  margin: 0;
  padding: 0 0 80px;
}

.place:last-of-type {
  padding: 0 0 92px;
}

@media screen and (max-width : 1200px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width : 940px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
    padding: 0 0 73px;
  }

  .place:last-of-type {
    padding: 0 0 90px;
  }
}

@media screen and (max-width : 720px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
    gap: 32px;
    padding: 0 0 50px;
  }

  .place:last-of-type {
    padding: 0 0 66px;
  }
}